.detail-spec-table {
  border-color: #373b3e;
  display: flex;
  justify-content: center;

  & > :not(caption) > * > * {
    padding: .5rem .5rem;
    background-color: #1e1d1d;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px transparent;
    text-transform: capitalize;
  }

  &__table {
    width: 500px;
  }

  * {
    color: inherit;
  }
}
