@use "./assets/styles/breakpoints";

:root {
  --border-color-light: #b7b7b7;
  --main-color: #b7b7b7;
  --global-padding: 20px;
  --global-border-radius: 10px;

  --img-border-color: #e15021;

  --sidemenu-width: 300px;
}

body {
  background: url("images/header/bg.jpg");
  color: var(--main-color);
}

.content-wrapper {
  margin-top: 60px;
}

.page {
  position: relative;
  left: 0;
  transition: left .5s ease-in-out;
}

.side-menu-opened {
  & .page {
    position: fixed;
    left: var(--sidemenu-width);
    width: 100vw;
  }
}
