@use "./assets/styles/breakpoints";

:root {
  --border-color-light: #b7b7b7;
  --main-color: #b7b7b7;
  --global-padding: 10px;
  --global-border-radius: 10px;

  --img-border-color: #e15021;
}

body {
  background: url("images/header/bg.jpg");
  color: var(--main-color);
}

.wrapper {
  margin-top: 60px;
}
